# DFU (Internal bootloader for STM32 MCUs)
# Place file in /etc/udev/rules.d/
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="df11", MODE="0666"
